/*
version:1.2.0
author:Amirmohammad Akbarloo
*/
@import "partial/header.css";
@import "partial/setting.css";
@import "partial/slider.css";
@import "partial/services.css";
@import "partial/amazing-offer.css";
@import "partial/amazing-supermarket.css";
@import "partial/products-1.css";
@import "partial/categories.css";
@import "partial/products-2.css";
@import "partial/popular-brands.css";
@import "partial/advertisement-1.css";
@import "partial/digiplus.css";
@import "partial/digiclub.css";
@import "partial/advertisement-2.css";
@import "partial/readable.css";
@import "partial/footer.css";
@import "partial/digikala-offer.css";

@font-face{
    font-family: B-nazanin;
    src: url(../fonts/B-nazanin/B-NAZANIN.TTF);
    src: url(../fonts/B-nazanin/B-NAZANIN.eot);
    src: url(../fonts/B-nazanin/B-NAZANIN.woff);
    src: url(../fonts/B-nazanin/B-NAZANIN.woff2);
}