/*
version:1.2.0
author:Amirmohammad Akbarloo
*/
main.wrapper>div.koodak{
    width: 1350px;
    height: 165px;
    margin:0 auto;
    margin-bottom: 10px;
}
main.wrapper>div.koodak>a.koodak1{
    width: max-content;
    height: auto;
}
main.wrapper>div.koodak>a.koodak1>img.koodak3{
    width: 1350px;
    height: 165px;
    border-radius: 20px;
}