/*
version:1.2.0
author:Amirmohammad Akbarloo 
*/
.GridSlides {
  height: calc((100% - 32px) / 2) !important;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.myAkbarloo {
  height: 315px;
  margin-top: 15px;
}
.border-bottom{
    border-bottom: unset;
}
[type=border-left]{
    border-left: unset;
}
main.wrapper>div.digikala-offer {
  min-width: 1000px;
  max-width: 1350px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 24px;
}
main.wrapper>div.digikala-offer>div.heading-offer {
  text-align: center;
}
main.wrapper>div.digikala-offer>div.heading-offer>h1.heading-offer1 {
  font-family: B-nazanin;
}
main.wrapper>div.digikala-offer>div.digikala-offer1 {
  min-width: 1000px;
  max-width: 1350px;
  height: 320px;
  margin: 0 auto;
  border: 2px solid lightgray;
  border-radius: 20px;
}
main.wrapper>div.digikala-offer>div.digikala-offer1>div>div.swiper-wrapper>div.swiper-slide>a.daste1 {
  display: inline-block;
  width: max-content;
  height: auto;
}
main.wrapper>div.digikala-offer>div.digikala-offer1>div>div.swiper-wrapper>div.swiper-slide>a.daste1>div.bgColor {
    width: 85px;
    height: 85px;
    background-color: #F2F2F2;
    border-radius: 50%;
    margin: auto;
  }
main.wrapper>div.digikala-offer>div.digikala-offer1>div>div.swiper-wrapper>div.swiper-slide>a.daste1>div.bgColor>img.daste2 {
  width: 60px;
  height: 60px;
  margin: auto;
  position: relative;
  top: 10px;
}
main.wrapper>div.digikala-offer>div.digikala-offer1>div>div.swiper-wrapper>div.swiper-slide>a.daste1>h3.daste3 {
  font-family: B-nazanin;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
