/*
version:1.2.0
author:Amirmohammad Akbarloo
*/
main.wrapper>div.products{
    min-width: 1000px;
    max-width: 1350px;
    height: 250px;
    margin:0 auto;
    margin-bottom: 30px;
}
main.wrapper>div.products>div.products1{
    display: inline-block;
    width: 25vw;
    max-width: 315px;
    max-height: 240px;
    margin-left: 21px;
}
main.wrapper>div.products>div.products1>a.products2{
    display: inline-block;
    width: max-content;
    height: max-content;
}
main.wrapper>div.products>div.products1>a.products2>img.products3{
    width: 26vw;
    max-width: 330px;
    max-height: 240px;
    border-radius: 20px;
}
main.wrapper>div.products>div.handology{
    margin-left: 0;
}