/*
version:1.2.0
author:Amirmohammad Akbarloo
*/
main.wrapper>div.offer{
    min-width: 1000px;
    max-width: 1350px;
    height: 270px;
    margin:0 auto;
    margin-bottom: 30px;
}
main.wrapper>div.offer>div.offer1{
    display: inline-block;
    width: max-content;
    height: max-content;
}
main.wrapper>div.offer>div.offer1>a.offer2{
    display: inline-block;
    width: max-content;
}
main.wrapper>div.offer>div.offer1>a.offer2>img.offer3{
    width: 48.8vw;
    max-width: 669px;
    height: 260px;
    border-radius: 20px;
}
main.wrapper>div.offer>div.softlan{
    margin-left: 6px;
}